.fltech__blog{
    display: flex;
    flex-direction: column;
}
.fltech__blog-heading{
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
}
.fltech__blog-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    /* letter-spacing: -0.04em; */
}
.fltech__blog-container{
    display: flex;
    flex-direction: row;
}
.fltech__blog-container_groupA{
    flex: 0.75;
    margin-right: 2rem;
}
.fltech__blog-container_groupB{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
@media screen and (max-width:990px) {
    .fltech__blog-container{
        flex-direction: column-reverse;
    }
    .fltech__blog-container_groupA{
        margin: 2rem 0;
    }
    .fltech__blog-container_groupA .fltech__blog-container_article{
        width: 48px;
    }
    .fltech__blog-container_groupA .fltech__blog-container_article-image{
        height: 250px;
    }
}
@media screen and (max-width:700px) {
    .fltech__blog-container_groupB{
        grid-template-columns: repeat(1, 1fr);
    }
    .fltech__blog-container_groupA .fltech__blog-container_article{
        width: 100%;
    }
    .fltech__blog-heading h1{
        font-size: 46px;
        line-height: 52px;
    }
}
@media screen and (max-width:550px){
    .fltech__blog-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
} 